
.param_slider {
    display: block;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-right: 50px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

/* CUSTOM arrow toggle */

.arrow-down {
  width: 25px;
  height: 25px;
  background: Teal;
  position: relative;
}

.arrow-down.active {
  background: steelblue;
}

.arrow-down:before, .arrow-down:after {
  content: "";
  display: block;
  width: 10px;
  height: 2.5px;
  background: white;
  position: absolute;
  top: 10px;
  transition: transform .5s;
}

.arrow-down:before {
  right: 10.5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: rotate(45deg);
}

.arrow-down:after {
  right: 5px;
  transform: rotate(-45deg);
}

.arrow-down.active:before {
  transform: rotate(-45deg);
}

.arrow-down.active:after {
  transform: rotate(45deg);
}/* END CUSTOM arrow toggle */




