
.sps_select {
    margin-left: 2%;
    margin-top: 2%;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}


.colour_circle {
    height: 30px;
    width: 100%;
    border-radius: 50%;
}

.pm_button {
    text-align:right;
    font-size:50px;
    font-weight:bold;
    margin-right: 20px;
}

.header_text {
    text-align:left;
    font-size: 20px;
}

#help_box {
    display: none;
    height: 0;
    overflow: hidden;
	transition: height 350ms ease-in-out;
}

#help_box.is-visible {
    display: block;
    height: auto;
}

.sliders {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}

.sliders.is-visible {
	display: block;
	height: auto;
}

.param_slider {
    display: block;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-right: 20px;
    margin-left: 20px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.header_button {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.header_button:hover {
    background-color: lightgrey;
}


